<div class="flex flex-col md:flex-row md:h-[90vh]">
  <!-- Categories sidebar -->
    <div class="w-full md:w-3/12 bg-orange-500 md:overflow-y-scroll overflow-x-hidden h-full justify-center items-center">
      <h2 class="text-center font-semibold text-2xl pt-5 pb-10">Categories</h2>
      <div class="flex flex-col gap-5">
        <app-add-category (addCategory)="addCategory($event)"></app-add-category>
        <h4 class="w-full py-4  text-center cursor-pointer text-lg font-medium text-white" style="box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;" (click)="AllItems()">All Items</h4>
        <div *ngFor="let Category of categories; let i = index">
          <h4 class="w-full py-4  text-center cursor-pointer text-lg font-medium text-white" style="box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;" (click)="ChnageCategory(Category)">{{Category.descriptor.name}}</h4>
        </div>
      </div>
    </div>
  
  <!-- Items section -->
  <div class="md:w-9/12 flex flex-col gap-10 bg-slate-200 h-full px-7 py-5">

    <!-- Top bar of items sections -->
    <div class="flex flex-col md:flex-row gap-5 md:gap-12">
      <input type="text" placeholder="Search for Items...." class="px-5 py-3" />

      <div class="px-5 py-3 bg-white flex gap-5">
        <input type="checkbox" />
        <label for="">Show out of Stock Items</label>
      </div>
      <!-- <app-add-item (addItem)="addItem($event)"></app-add-item> -->
      <button (click)=" addItemDialog()" class="bg-white border border-green-600 px-5 py-3 ">
        New Item
     </button>
    </div>


    <div class="h-full bg-white overflow-y-scroll overflow-x-hidden px-5 py-2">
      <h2 class="font-semibold text-2xl pt-5 pb-10">Category : {{currentCategory?.descriptor.name}}</h2>

      <div *ngFor="let item of itemsData">
        <div class="flex w-full border px-5 py-3">
          <div class="w-2/6 flex flex-col gap-2">
            <h1>{{item.itemDetails.itemName}}</h1>
            <h4>{{item.itemDetails.price}}</h4>
          </div>
          <div class="w-2/6 flex justify-center">
            <div class="bauble_box">
              <input
                class="bauble_input"
                id="bauble_check"
                name="bauble"
                type="checkbox"
              />
              <label class="bauble_label" for="bauble_check">Toggle</label>
            </div>
          </div>
          <div class="w-2/6 flex gap-7 justify-center items-center">
            <button class="bg-slate-200 px-6 h-9" (click)="editItem(item)">Edit</button>
            <button class="bg-slate-200 px-6 h-9" (click)="deleteItem(item)">Delete</button>
          </div>
        </div>
      </div>


    </div>

  </div>
  
</div>
