<div
  class="flex gap-3 items-center border border-solid-black w-full justify-between bg-white px-[25px]"
  style="height: 10vh"
>
  <div class="flex gap-3 items-center">
    <!-- Born Bhukkad -->
    <!-- <img src="../../../assets/bb_logo.png" alt="" class="h-12" />
    <h1 class="text-3xl font-Heading font-bold" style="color: #ff731d">
      Born Bhukkad
    </h1> -->

    <!-- Kisan saathi -->
    <img src="../../../assets/kisansathi_logo.jpeg" alt="" class="h-12" />
    <h1 class="text-3xl font-Heading font-bold" style="color: #ff731d">
      Bornbhukkad
    </h1>
  </div>

  <div class="flex gap-5">
    <!-- <div class="hidden md:flex gap-3 items-center">
      <input
        type="text"
        placeholder="Minimum order value"
        class="py-2 px-4 border border-black"
      />
      <button class="px-10 py-2 rounded-xl secondary-bg-color text-[#fff]">
        Update
      </button>
    </div> -->
    <button class="share-btn" (click)="openShareModal()">
      Share Ordering Link
    </button>

    <div
      class="h-10 w-10 flex justify-center items-center bg-[#ff731d] rounded-full cursor-pointer"
      (click)="goToProfile()"
    >
      <h4 class="font-semibold text-xl">P</h4>
    </div>
  </div>
</div>
