<mat-dialog-actions align="end" class="flex gap-10">
    <button mat-button mat-dialog-close class="bg-green-700 text-white py-2 px-5">
        Cancel
    </button>
</mat-dialog-actions>

<div class="p-6">
    <h1 class="text-xl font-medium mb-4">Packaging Charges Guide</h1>
    <table class="table-auto">
        <thead>
            <tr class="bg-gray-100">
                <td class="px-4 py-2 border font-medium text-[#ff6a00]">Item Price</td>
                <td class="px-4 py-2 border font-medium text-[#ff6a00]">Packaging Fees</td>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let data of priceTable">
                <tr >
                    <td class="border px-4 py-2">{{ data.ItemPrice }}</td>
                    <td class="border px-4 py-2">{{ data.packagingFees }}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>
