<app-navbar></app-navbar>

<div class="flex flex-col md:flex-row flex-1">
  <app-side-bar
    (changeDashboardEvent)="changeDashboard($event)"
    class="w-full md:w-1/12"
  ></app-side-bar>
  <div class="flex-1">
    <ng-template [ngIf]="show == 'Menue'">
      <app-menue></app-menue>
    </ng-template>

    <ng-template [ngIf]="show == 'Creds'">
      <app-creds></app-creds>
    </ng-template>

    <ng-template [ngIf]="show == 'Orders'">
      <app-orders></app-orders>>
    </ng-template>

    <ng-template [ngIf]="show == 'Metrics'">
      <h1>Metrices</h1>
    </ng-template>

    <ng-template [ngIf]="show == 'Offers'">
      <app-offers></app-offers>
    </ng-template>

    <ng-template [ngIf]="show == 'Complaints'">
      <h1>Complaints</h1>
    </ng-template>
  </div>
</div>
