

<h2 mat-dialog-title>Add creds</h2>

<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-grid" class="flex flex-col gap-6">
    <div class="w-full flex justify-evenly">
        <div class="flex flex-col gap-4">
          <label for="" class="flex flex-col gap-4">
            <div class="flex gap-3">
              <p class="text-black text-lg font-medium">Item Name</p>
              <span class="text-[red]">*</span>
            </div>
            <mat-form-field>
              <mat-label>Item Name</mat-label>
              <input matInput formControlName="name" />
                <mat-error *ngIf="form.controls.name.touched && form.controls.name.invalid">
                  Name is required
                  </mat-error>
            </mat-form-field>
          </label>
    </div>
    <div class="flex flex-col gap-4">
      <label for="" class="flex flex-col gap-4">
            <div class="flex gap-3">
              <p class="text-black text-lg font-medium">Verify URL</p>
              <span class="text-[red]">*</span>
            </div>
            <mat-form-field>
              <mat-label>Verify URL</mat-label>
              <input matInput formControlName="verifyUrl" placeholder="https://example.com/verify?id=XXXX" />
                <mat-error *ngIf="form.controls.verifyUrl.touched && form.controls.verifyUrl.invalid">
                  Verify URL is required
                  </mat-error>
            </mat-form-field>
          </label>
    </div>
    </div>
     <div class="w-full flex justify-evenly">
    <div class="flex flex-col gap-4">
      <label for="" class="flex flex-col gap-4">
            <div class="flex gap-3">
              <p class="text-black text-lg font-medium">Valid from</p>
              <span class="text-[red]">*</span>
            </div>
            <mat-form-field>
              <mat-label>Valid from</mat-label>
              <input matInput type="date" formControlName="validFrom" />
                <mat-error *ngIf="form.controls.validFrom.touched && form.controls.validFrom.invalid">
                  Valid from is required
                  </mat-error>
            </mat-form-field>
          </label>
    </div>

 <div class="flex flex-col gap-4">
      <label for="" class="flex flex-col gap-4">
            <div class="flex gap-3">
              <p class="text-black text-lg font-medium">Valid To</p>
              <span class="text-[red]">*</span>
            </div>
            <mat-form-field>
              <mat-label>Valid To</mat-label>
              <input matInput type="date" formControlName="validTo" />
                <mat-error *ngIf="form.controls.validTo.touched && form.controls.validTo.invalid">
                  Valid To is required
                  </mat-error>
            </mat-form-field>
          </label>
    </div>
  </div>
   <div class="w-full flex justify-evenly">
      <div class="flex flex-col gap-2">
            <p class="text-black text-lg font-medium">Select Images</p>

            <!-- Image Preview Section -->
            <div class="flex flex-col gap-2">
              <div *ngFor="let image of imageSrcs" class="w-32 h-32 relative">
                <img
                  [src]="image"
                  alt="Selected Image"
                  class="w-full h-full object-cover"
                />
                <button
                  (click)="removeImage(image)"
                  class="absolute top-0 right-0 text-red-500 bg-white rounded-full p-1"
                >
                  &times;
                </button>
              </div>
            </div>

            <!-- Upload Button and File Input -->
            <div *ngIf="imageSrcs.length > 0" class="flex gap-4 mt-4">
              <button
                type="button"
                (click)="uploadImages()"
                class="bg-green-500 text-white py-2 px-4 rounded"
              >
                Upload
              </button>
              <button
                type="button"
                (click)="cancelImages()"
                class="bg-red-500 text-white py-2 px-4 rounded"
              >
                Cancel
              </button>
            </div>

            <label
              class="container-btn-file inline-block bg-blue-500 text-white py-2 px-4 rounded cursor-pointer"
            >
              Select Images
              <input
                type="file"
                multiple
                (change)="onFilesSelected($event)"
                class="hidden"
              />
            </label>

            <!-- Upload and Cancel Buttons -->
          </div>


    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancel</button>
  <button
        mat-button
        [mat-dialog-close]="false"
        class="bg-orange-500 text-success"
        type="submit"
        (click)="onSubmitClick()"
      
      >
        Save
      </button>
</mat-dialog-actions>

