<div class="flex flex-col flex-1 bg-slate-950 py-5 gap-5 h-[100%]">
  <div class="flex justify-center items-center flex-1 pb-5 md:hidden">
    <p class="text-white text-3xl">Menue</p>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Menue')"
    >
      <img src="../../../assets/utensils (1).svg" alt="" />
      <p class="text-white">Menue</p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Creds')"
    >
      <img src="../../../assets/shopping-bag.svg" />
      <p class="text-white">Creds</p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Growth')"
    >
      <img src="../../../assets/indian-rupee (1).svg" alt="" />
      <p class="text-white">Growth</p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Metrics')"
    >
      <img src="../../../assets/bar-chart-big.svg" alt="" />
      <p class="text-white">Metrics</p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Offers')"
    >
      <img src="../../../assets/indian-rupee (1).svg" alt="" />
      <p class="text-white">Offers</p>
    </div>
  </div>
  <div class="flex justify-center items-center flex-1">
    <div
      class="flex flex-col gap-2 border border-solid border-orange-500 justify-center items-center h-24 w-24 cursor-pointer"
      (click)="emitEvent('Complaints')"
    >
      <img src="../../../assets/alert-circle (2).svg" alt="" />
      <p class="text-white">Complaints</p>
    </div>
  </div>
</div>
